/* START CONFIGURATION */

html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

/* FOOTER */

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}


/* CUSTOM PAGINATION */

.page-item.active .page-link {

    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.pagination > li > a {
    background-color:  #fff;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    caret-color: transparent;
    background-color:  #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

/* DATATABLES */
.dataTables_paginate {
    margin-top: 10px !important;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    margin-bottom: 10px !important;
}

 /* CUSTOM sweetmessage */
.swal-modal {
    background-color: rgba(0,0,0,0.651);
    color: #fff;
}
.swal-title {
    color: #fff;
    font-size: 20px;
}
.swal-text{
    color: #fff;
    font-size: 15px;
}
.swal-button{
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #198754;
    font-size: 12px;
    border: 1px solid #198754;
}
.swal-button:focus{
    box-shadow: none;
}
.swal-button:not([disabled]):hover{
    background: transparent;
    color: #fff;
    border: 1px solid #198754;
}
