<title>events</title>
{% extends 'base.html' %}

<!-- Navbar content -->

{% block navbar-content %}
&nbsp;&nbsp;<i style="color: yellowgreen;" class="fa fa-map-signs"></i>&nbsp;&nbsp;
<span class="d-none d-lg-inline ms-2">События в городе Аркхем</span>
{% endblock navbar-content %}


<!-- Page content -->
{% block content %}
<div class="container">
    <br>
    <!-- кнопочка добавления новой строки -->
    <button class="btn btn-success mb-3"  data-bs-toggle="modal" data-bs-target="#addModal">
        <i class="fas fa-plus">&nbsp;&nbsp; Добавить событие</i>
    </button>

    {% include 'add_event.html' %}

    <table class="table table-bordered" id="karta" style="text-align: center;">
        <thead class="table-success">
            <tr>
                <th>e_id</th>
                <th>e_name</th>
                <th>single</th>
                <th>active</th>
                <th>stage</th>
                <th>node_id</th>
                <th>profession</th>
                <th>demand</th>
                <th>description</th>
                <th>mess_prize</th>
                <th>mess_punishment</th>
                <th>check</th>
                <th>choice</th>
                <th>prize</th>
                <th>punishment</th>
                <th>date_update</th>
                <th>Edit</th>
            </tr>
            </thead>

        <!-- Data from backend -->
            {% for event in events %}
              {% include 'edit_event.html' %}
            <tr>
                <td>{{ event.e_id }}</td>
                <td>{{ event.e_name }}</td>
                <td>{{ event.single }}</td>
                <td>{{ event.active }}</td>
                <td>{{ event.stage }}</td>
                <td>{{ event.node_id }}</td>
                <td>{{ event.profession }}</td>
                <td>{{ event.demand }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.mess_prize }}</td>
                <td>{{ event.mess_punishment }}</td>
                <td>{{ event.check }}</td>
                <td>{{ event.choice }}</td>
                <td>{{ event.prize }}</td>
                <td>{{ event.punisment }}</td>
                <td>{{ event.date_update | date:'d.m.Y H:i' }}</td>
                <td>
                  <a class="btn btn-success text-center" title="Редактировать событие" data-bs-toggle="modal" data-bs-target="#editModal{{ event.pk }}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
<!-- END // container -->

{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{message}}";
        swal("Замечательно!", m )
    </script>
    {% endif %}
{% endfor %}



<br><br><br><br>
{% endblock content %}
    <!-- Datatables script -->
    <script>
        $("#events").DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json',
            },
            pading: true,
            pageLeght: 10,
            leghtChange: false,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
            order: [],
            responsive: {
                breakpoints: [
                      {name: 'bigdesktop', width: Infinity},
                      {name: 'meddesktop', width: 1480},
                      {name: 'smalldesktop', width: 1280},
                      {name: 'medium', width: 1188},
                      {name: 'tabletl', width: 1024},
                      {name: 'btwtabllandp', width: 848},
                      {name: 'tabletp', width: 768},
                      {name: 'mobilel', width: 480},
                      {name: 'mobilep', width: 320}
                    ]
                  },
            "columnDefs": [{
                "targets": [],
                "orderable": false
            }],
            dom: 'Bfrtip',
            buttons: [
                { // кнопка копирования
                extend: 'copy',
                text: '<i class="fas fa-clone"></i>',
                className: 'btn btn-secondary',
                titleAttr: 'Copy',
                },
                { // кнопка выгрузки в excel
                extend: 'excel',
                text: '<i class="fas fa-file-excel"></i>',
                className: 'btn btn-secondary',
                titleAttr: 'Excel',
                header: true,
                filename: 'file',
                title: '',
                },
             ]
        })
    // поиск делаем
        var newSearch = $("#events").DataTable();
        $("#search").keyup(function() {
            newSearch.search($(this).val()).draw();
        })
    </script>
