<title>home</title>
{% extends 'base.html' %}

<!-- Navbar content -->

{% block navbar-content %}
&nbsp;&nbsp;<i style="color: yellowgreen;" class="fa fa-book"></i>&nbsp;&nbsp;
{% endblock navbar-content %}
<!-- Page content -->
{% block content %}
<div class="container">
    <br><br><br>

    <nav class="navbar bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <a class="nav-link active" aria-current="karta" href="karta">Карта города Аркхэма</a>
            </span>
        </div>
    </nav>

</div> <!-- END // container -->

<br><br><br><br>
{% endblock content %}

